
//한줄주석
$value0:0px;
$font12:12px;
$color01:#333;
$color02:#222;
$color03:#fff;
$color04:#e6e6e6;
$color05:#c5c4c4;
$t_align01:center;
$bgcolor01:#d484d7;
$bgcolor02:#c8c8c8;
$border_size01:1px;
$border_size02:2px;
$border_size03:3px;

*{margin:$value0; padding: $value0;}
body{font-family: '맑은 고딕', arial, sans-serif; font-size: $font12; color:$color01}
header{text-align: $t_align01;}
header h1{padding: 10px;}
header img{height:60px; }
main{}
dl{margin: $value0 5px; overflow: hidden;border-top: $border_size03 solid #b662b9; border-bottom:$border_size03 solid #b662b9 ;}
dt{background: $bgcolor01; color: $color03; font-size: 14px; font-weight: bold; line-height: 40px; text-indent: 10px;}
dd{text-indent: 12px; border-bottom: 1px solid $color05;}
dd a{color: $color01; text-decoration: none; line-height: 40px; transition: 0.3s;}
dd a:hover{font-weight: bold; background: rgb(255, 255, 159); transform: scale(1.1); box-shadow: 0px 0px 3px rgb(172, 172, 172); text-indent: 50px; display: block;}
footer{background: $color02; text-align: $t_align01; color: $color03; line-height: 60px;}
footer address{font-size: normal;}